.idea
output/*
temp
node_modules
static/books
target
dist
static/source
static/target
archive/*
movie-naming/*
.yarn/*
#!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
# yarn.lock
yarn-error.log
dezeen

